<h1 class="text-center mt-2">Nuestros Productos</h1>

<% if @products.any? %>

  <ul class= "d-flex flex-wrap list-unstyled ">
    <% @products.each do |product| %>
    <div style="width: 16rem;">
      <li class= "col bg-white shadow m-2 p-3">
      <%= link_to product, class:"text-decoration-none text-black" do %>
        <strong><%= product.name.capitalize %></strong><br>
        Precio: $ <%= product.price %><br>
        <div class="mt-2">
          <% unless product.photo.url.nil? %>
            <%= cl_image_tag(product.photo.key, height: 200, crop: :fill) %>
          <% end %>
        </div>
      </li>

    </div>
    <% end %>
  <% end %>
  </ul>

<% else %>
  <p>No se encontraron coincidencias.</p>
  <strong><h1>Otros productos</h1></strong>

  <%= link_to "Ir a productos", products_path, class:"link-offset-2 link-underline link-underline-opacity-0" %>

  <ul class= "d-flex flex-wrap list-unstyled" >
    <% @products.each do |product| %>
      <li class= " bg-white shadow m-2 p-4">
      <%= link_to product, class:"text-decoration-none text-black" do %>
        <strong><%= product.name %></strong><br>
        Precio: $<%= product.price %><br>
        <% unless product.photo.url.nil? %>
          <%= cl_image_tag(product.photo.key, height: 200, crop: :fill) %>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>

<% end %>
