<h1>Publicar nuevo Producto</h1>

<%= simple_form_for(@product) do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :comment %>
  <%= f.input :photo, as: :file, hint: "15kb" %>
  <%= f.submit %>
<% end %>
