
<div class=  "container shadow border mt-5 p-4 w-50">
<h2>CREA TU NUEVO PRODUCTO</h2>
<div class = "mt-5">
<%= simple_form_for(@product) do |f| %>
  <%= f.input :name, label:"Nombre del producto" %>
  <%= f.input :price, label:"Precio del producto" %>
  <%= f.input :comment,label:"Descripcion del producto *" %>
  <%= f.input :photo, as: :file, hint: "15kb", label:"Subir foto *" %>
  <%= f.submit "Publicar", class: "btn-joyita" %>
 <% end %>
</div>


</div>
