<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
    <div>
      <h2><%= @product.name %></h2>
      <p><%= @product.price%></p>
      <h3><%= @product.comment %></h3>
      <h4><%= cl_image_tag(@product.photo.key, height: 200, crop: :fill) %></h4>
      http://127.0.0.1:3000/products/26
      product_line_items
    </div>


<%= form_with(url: line_items_path, method: :post) do %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= label_tag :quantity, "Quantity" %>
  <%= number_field_tag :quantity, 1, min: 1 %>
  <%= submit_tag "Add to Cart" %>
<% end %>
