<h1>Cart Details</h1>

<p>Status: <%= @cart.status %></p>
<p>Total: <%= @cart.total %></p>

<h2>Line Items</h2>
<ul>
  <% @cart.line_items.each do |item| %>
    <li>
      <strong>Product Name:</strong> <%= item.product.name %> -
      <strong>Quantity:</strong> <%= item.quantity %> -
      <strong>Price:</strong> <%= item.price %>
    </li>
  <% end %>
</ul>
